.about-languages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.freetime-container {
    position: relative;
  }

.freetime-b {
    height: 329px;
    background-color: black;
    z-index: 9;
    border-radius: 12px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 76%, 86% 100%, 0% 100%);
  }

@media screen and (max-width: 900px) {
    .about-languages {
        justify-content: center;
        gap: 2rem;
    }
}