/* Neutral styling for all project filter buttons */
.project-filter {
    box-shadow: none;
    background-color: inherit;
    cursor: pointer;
    border: none;
  }
  
  /* Active button styling */
  .active {
    color: var(--primary);
    padding-bottom: 0.1rem;
    border-bottom: 2px solid var(--primary);
    font-weight: 700;
  }