/* Button.css */
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: .3s ease-in-out;
    height: 3.3125rem;
    width: fit-content;
}


.button-primary {
    background-color: var(--primary);
    color: white;
}

.button-primary:hover {
    background-color:#CC2348;
}

.button-secondary {
    background-color: var(--white); /* Define this in your colors */
    color: var(--primary);
    border: 2px solid var(--primary);
}

.button-secondary:hover {
    background-color: var(--primary); /* Define this in your colors */
    color: var(--white);
}