.fullscreen-nav {
  position: fixed;
  display: flex;
  gap: 3rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s;
}

.fullscreen-nav a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

.fullscreen-nav .close-button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 3rem;
  font-weight: 300;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.fullscreen-nav .logo {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
}

.nav-container {
  display: flex;
  align-items: center;
  flex: 1;
  padding-top: 1rem;
}

.navbar-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  color: inherit;
  position: relative;
  padding-bottom: 10px;
  transition: color 0.3s ease;
}

.navbar-link.active-link {
  font-weight: bold;
  color: var(--primary);

  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  text-underline-offset: 0.5625rem;
}

.navbar-link:hover {
  color: var(--primary);
}

.navbar-link:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0.2em;
  height: 0.2em;
  border-radius: 50%;
  background-color: var(--primary); /* Color of the circle */
  opacity: 1; /* Circle is visible on hover */
  transition: opacity 0.3s ease; /* Smooth transition */
}

/* Ensure circle doesn't overlap other elements */
.navbar-link::after {
  opacity: 0; /* Initially invisible */
}

@media screen and (max-width: 900px) {
  .nav-container {
    display: none;
  }

  .navbar-link.active-link {
    font-weight: bold;
    color: white;
    font-weight: bold;
  }
}
