.project-card-container {
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.project-card {
    min-width: 18.5rem;
    max-width: 21.5rem;
    height: 21.875rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.project-card img {
    transition: transform 0.3s ease;
}

.project-card:hover img {
    transform: scale(1.05);
}

@media screen and (max-width: 900px) {
    .project-card img {
      transform: scale(0.85);
    }
}