.my-project-container {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    flex-wrap: wrap;
}


@media screen and (max-width: 900px) {
    .my-project-container {
        flex-direction: column;
        gap: 3rem;
    }
}