.App {
  background-color: "#FFFFFF";
  color: "#000000";
  text-align: center;
}


.container {
  padding-left: 11.25rem;
  padding-right: 11.25rem;
  text-align: 'center';
  position: relative;
  overflow: clip;
}


a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4.5rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  font-weight: 400;
}

h5 {
  font-size: 1.125rem;
  font-weight: 600;
}

h5 {
  font-size: 1.125rem;
  font-weight: 600;
}

h6 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.88rem;
}

.text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.88rem;
}


@media screen and (max-width: 900px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h1 {
    font-size: 1rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 3rem;
  }
}


section {
  padding-top: 13.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

section:first-of-type {
  padding-top: 4.5rem;
}
/* 
.jump-animated {
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  @supports (animation-timeline: view()) {
    .jump-animated {
      animation: jump-up-animation 2s cubic-bezier(0.25, 0.1, 0.25, 1.4) forwards,
                 jump-out-animation 2s cubic-bezier(0.25, 0.1, 0.25, 1.4) forwards;
      animation-timeline: view();
      animation-range: entry 20% cover 50%, exit 50% exit 80%;
    } 
  }
}

@keyframes jump-up-animation {
  0% {
    opacity: 0;
    transform: translateY(400);
  }
  60% {
    opacity: 0.7;
    transform: translateY(-10px);
  }
  80% {
    opacity: 0.9;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes jump-out-animation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 0.9;
    transform: translateY(-10px);
  }
  40% {
    opacity: 0.7;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-400px);
  }
} */